* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
}

.wrap {
    width: 100%;
    height: 100%;
    header {
        width: 100%;
        height: 0.88rem;
        background: #666;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0.5rem;
        i {
            color: #fff;
            font-size: 0.5rem;
        }
        h2 {
            font-size: 0.4rem;
            font-weight: normal;
            color: #fff;
        }
    }
    section {
        width: 100%;
        height: 100%;
        background: #818d9b;
        padding: 1rem 0;
        .box {
            width: 90%;
            height: 8.79rem;
            border-radius: 0.3rem;
            margin: 0 auto;
            background: #fff;
            padding-top: 0.5rem;
            h3 {
                width: 100%;
                height: 2.7rem;
                dl {
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    dt {
                        width: 100%;
                        height: 50%;
                        img {
                            width: 100px;
                        }
                    }
                    dd {
                        font-size: 0.3rem;
                        color: #999;
                    }
                }
            }
            p {
                width: 80%;
                height: 1.2rem;
                margin: 0 auto;
                border-bottom: 1px solid #ccc;
                padding: 0 0.3rem;
                img {
                    width: 7%;
                }
                input {
                    width: 60%;
                    border: none;
                }
            }
            button {
                width: 80%;
                height: 0.77rem;
                background: #2fba77;
                color: #fff;
                margin-left: 10%;
                border: none;
                border-radius: 0.1rem;
            }
        }
    }
}